# VS-code settings
.vscode/c_cpp_properties.json
.vscode/settings.json

# executables
core/mosaic
modules/fcomp/fcomp
modules/stitch/stitch
core/build_3.4/

modules/fcomp/build
modules/stitch/build
core/build

# data files
modules/stitch/homography-data.txt