# VS-code settings
.vscode/c_cpp_properties.json
.vscode/settings.json

# executables
modules/fcomp/fcomp
modules/stitch/stitch
modules/fcomp/build
modules/stitch/build

# data files
modules/stitch/homography-data.txt